*{margin: 0; padding: 0;} 

html{
	height:100%;
}

body{
	height:100%;
	background-color:#ffffff;
}

.alignleft{text-align:right;}

.float_left{float:left;}

#main_center{
	width: 944px;  
	height: 1080px; 
	background-color: #ffffff; 
	margin: 0px auto;
}

#head{
	width: 864px;  
	height: 71px; 
	margin: 0px auto;
	margin-top:34px;
}

#phone_number{
	text-align:left;
}

#logo{
	float:left;
	margin-right:45px;
	margin-left:12px;
}

#list{
	
}

#list a {
	line-height:71px;
	vertical-align:middle;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	text-decoration: none;
	color:#848284;
	padding-left:10px;
	padding-right:10px;
}
#phone_code{
	float:right;
	margin-top:2px;
	margin-right:10px;
	color:#4a494a;
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
}

#phone_code span{
	font-size:12px;
}

#phones{
	line-height:1;
	margin-right:16px;
	float:right;
	font-size:16px;
	font-family:Arial;
	color:#292829;
	font-weight:bold;
}

#phones a {
 	color:#7c8f95;
	font-size:9px;
}

#hor_menu{
	margin: 0px auto;
	width: 864px;  
	height: 40px; 
}

#hor_menu a {
	color:#e7ebef;
	font-size:11px;
	font-family:Arial;
	text-decoration:none;
	background-color:#6e7a7e;
	padding-bottom:12px;
	padding-top:12px;
	padding-left:26px;
	padding-right:26px;
	border:1px solid #6b7573;
	float:left;
}

#hor_menu a:hover{
	background-color:#6F0AAA;
}

.b_radius_left{
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.b_radius_right{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

#ver_menu{
	margin: 0 auto;
	margin-top:12px;
	width: 864px;  
	height: 192px;
}

#middle{
	margin: 0px auto;
	margin-top:14px;
	width: 864px;  
	height: 669px;	
}

#list_of_services{
	font-size:12px;
	color:#181818;
	width:209px;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	font-weight:bold;
}

#list_of_services a{
	color:#7b8e94;
}

#list_of_services_head{
	background-color:#ad5d63;
	line-height:26px;
	padding-left:12px;
	vertical-align:middle;
	border:1px solid #b58294;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
	color:#fad1d5;
}

#list_of_services_1{
	width:206px;
	height:207px;
	font-size:11px;
	font-family:Arial;
}

#list_of_services_2{
	width:206px;
	height:99px;
	font-size:11px;
	font-family:Arial;
}

#list_of_services_3{
	width:206px;
	height:99px;
	font-size:11px;
	font-family:Arial;	
}

#list_of_services_4{
	width:206px;
	height:172px;
	font-size:11px;
	font-family:Arial;	
}

.list_of_services_borders{
	border-bottom:1px solid #e0e0e0;

}

.stanart_for_LOS_head{
	padding-left:11px;
	margin-top:15px;
	margin-bottom:9px; 
}

.stanart_for_LOS{
	padding-left:11px;
	margin-top:4px;
	margin-bottom:4px;
}
#info{
	margin-left:10px;
	float:left;
	width:625px;
	height:557px;
	font-family:Arial;
	font-size:11px;
}

#info li{
	margin-left:49px;
	padding-bottom:8px;
}

#info_1{
	padding-left:15px;
	padding-bottom:6px;
}

#Info_Head{
	font-size:24px;
}

#info p{
	margin-bottom:19px;	
}

#info_2{
	padding-left:15px;
	padding-top:23px;
	background-color:#eeeeee;
	border-radius:4px;
	padding-bottom:19px;
}

button{
	margin-top:9px;
	margin-left:10px;
	font-size:11px;
	padding-bottom:3px;
	padding-top:3px;
	padding-left:12px;
	padding-right:12px;
	border-radius:4px;
	border:1px solid #a6dcdc;
	background-color:#ffffff;
}

#site_bottom{
	width:874px;
	height:25px;
	margin: 0px auto;
	padding-left:10px;
	border-bottom:1px solid #e4e4e4;
	font-family:Arial;
	font-size:9px;
	color:#b7b7b7;
	line-height:25px;
	vertical-align:bottom;
	margin-top:20px;
}

#bottom_menu{
	float:right;
	margin-right:12px;
}

#bottom_menu a{
	font-family:Arial;
	font-size:9px;
	color:#5da9c9;
}

.bott_menu_bord{
	padding-right:3px;
	border-right:1px solid #c5c6ca;
}

#Copyright{
	width:874px;
	height:25px;
	margin: 0px auto;
	color:#d5d5d5;
	font-size:12px;
	font-family:Arial;
	padding-top:10px;
	padding-left:10px;
}

.a_block{
	margin-left:13px;
	display:block;
	height:100%;
	text-decoration:none;
	color:#6e6e6e;
	
}

#v-menu{
	width:450px;
	height:192px;
	margin-left:13px;
	font-family:Arial;
	font-size:10px;
	
}

.text_mov{
	margin-top:18px;
	float:left;
}

#txt1{
	width:445px;
	height:62px;
	border:1px solid #c7c7c7;
	background:#fdfdfd;
	font-weight:bold;
}

#txt1:hover{
	background:#62a9bb;
}

#txt1 a:hover{
	color:#dcffff;
}

#txt2{
	width:445px;
	height:58px;
	border:1px solid #c7c7c7;
	background:#fdfdfd;
	font-weight:bold;
}

#txt2:hover{
	background:#62a9bb;
}

#txt2 a:hover{
	color:#dcffff;
}

#txt3{
	width:445px;
	height:65px;
	border:1px solid #c7c7c7;
	background:#fdfdfd;
	font-weight:bold;
}

#txt3:hover{
	background:#62a9bb;
}

#txt3 a:hover{
	color:#dcffff;
}

.for_num{
	font-family:Calibri;
	font-size:48px;
	margin-right:19px;
	font-weight:normal;
	float:right;
}






